@import "../../../../App.scss";

.landing-introduction {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  background-image: url("../../assets/landing-bg.png");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  @media only screen and (min-width: 700px) {
    height: 600px;
  }
  @media only screen and (min-width: 1400px) {
    height: 750px;
  }
}

.landing-header {
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
}
.nav {
  display: none;
  &:hover{
    cursor: pointer;
  }
  @media only screen and (min-width: 500px) {
    display: block;
    width: 60%;
  }
  @media only screen and (min-width: 700px) {
    display: block;
    width: 30%;
  }
}
.nav-list{
  display: flex;
 justify-content: space-evenly;
 @media only screen and (min-width: 700px) {
  justify-content: space-between;
}
}
.nav-item, .mobile-nav-item{
  list-style: none;
  font-size: 16px;
  font-weight: 500px;
  color: white;
  text-decoration: none;
  &:hover{
    cursor: pointer;
    opacity: 0.5;

  }
}
.hamburger {
  display: block;
  @media only screen and (min-width: 500px) {
    display: none;
  }
}

.mobile-nav{
  position: absolute;
  right: 5%;
  top: 8%;
  width: 40%;
  height: 10rem;
  background-color: #8807F7;
  z-index: 1;
  text-align: center;
 
}

.mobile-nav-item{
  padding: 10px;
  font-weight: 700;
}





.error {
  color: red;
  font-size: 15px;
}
.landing-intro-text-container {
  text-align: center;
  width: 90%;
  margin: 5% auto;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 700px) {
    width: 60%;
  }
  @media only screen and (min-width: 1000px) {
    width: 40%;
  }
  @media only screen and (min-width: 1400px) {
    width: 35%;
  }
}
.spotlight-image {
  position: absolute;
  top: 32%;
  right: 24%;
  width: 30%;
  @media only screen and (min-width: 500px) {
    top: 40%;
  }
  @media only screen and (min-width: 700px) {
    top: 38%;
  }
  @media only screen and (min-width: 1000px) {
    top: 40%;
  }
  @media only screen and (min-width: 1400px) {
    top: 43%;
    right: 24%;
    width: 30%;
  }
}
.landing-introduction__heading {
  font-weight: 700;
  font-size: 57.1482px;
  line-height: 110.5%;
  text-align: center;
  color: #ffffff;
  @media only screen and (min-width: 700px) {
    font-size: 60px;
  }
  @media only screen and (min-width: 1000px) {
    font-size: 80px;
  }
  @media only screen and (min-width: 1400px) {
    font-size: 90px;
  }
}
.landing-introduction__text {
  @include intro-text;
  font-weight: 500;
  font-size: 11px;
}

.overlay {
  position: absolute;
  top: 55%;
  width: 50%;
  right: 0%;
  @media only screen and (min-width: 700px) {
    top: 20%;
    width: 25%;
  }
}
.overlay-image {
  width: 100%;
}

.landing-form {
  display: flex;
  width: 100%;
  border: 1px solid green;
  justify-content: space-between;
  background: white;
  border-radius: 100px;
  padding: 8px;
  @media only screen and (min-width: 700px) {
    width: 90%;
  }
  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}
.landing-input {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  &:focus {
    outline: none;
  }
  @media only screen and (min-width: 700px) {
    width: 60%;
  }
}
