.interest-transparency-container,
.investment-section,
.testimonials-section,
.review-section {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.investment-section {
  background: #fffdf2;
  border: 1px solid #fffdf2;
}
.testimonials-section {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
}
.interest-transparency,
.investment-container,
.access,
.testimonials-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10% auto;
  text-align: start;
  @media only screen and (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.transparency-text,
.investment__heading,
.access__heading,
.testimonial-heading,
.preview-heading,
.traction-heading {
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
  color: #3d0072;
  margin-bottom: 20px;
  @media only screen and (min-width: 1024px) {
    font-size: 60px;
  }
}
.transparency-highlight,
.testimonial-highlight {
  color: #e8356d;
}
.calculator-image {
  width: 100%;
  margin-top: 10%;
  @media only screen and (min-width: 700px) {
    width: 40%;
    margin: 0;
  }
}
.interest-info,
.testimonial-subheading,
.preview-subheading,
.investment__info,
.access__info,
.traction-subheading {
  font-weight: 500;
  font-size: 18px;
  color: #3d0072;
  line-height: 1.8;
}

.investment-container {
  margin: 5% auto 0;
  position: relative;
  @media only screen and (min-width: 700px) {
    height: 450px;
  }
}

.investment {
  &__heading-highlight {
    color: #0d9488;
    display: inline;
  }
  &__info {
    margin-top: 20px;
    @media only screen and (min-width: 700px) {
      width: 55%;
    }
  }
}
.stock-image {
  width: 100%;
  @media only screen and (min-width: 700px) {
    position: absolute;
    width: 45%;
    bottom: 25%;
    right: 5%;
  }
  @media only screen and (min-width: 1024px) {
    position: absolute;
    width: 45%;
    bottom: 0;
    right: 15%;
  }
}

.access-container {
  background-image: url("../../../../assets/access-bg.png");
  text-align: center;
  padding-top: 10px;
  background-position: center center;
}
.access {
  margin-bottom: 0;
  display: block;
  text-align: start;
  color: #ffffff;
  &__heading {
    color: #ffffff;
  }
  &__info {
    color: #ffffff;
    @media only screen and (min-width: 700px) {
      width: 75%;
    }
  }
}
.offers-container {
  width: 100%;
  margin-top: 10%;
  border: 1px solid #29014b;
  background: #29014b;
  box-shadow: 0px 10px 35px rgba(6, 46, 253, 0.25),
    0px 15px 70px rgba(251, 64, 64, 0.25), 0px 30px 90px rgba(136, 7, 247, 0.5);
  border-radius: 4px;
}
.offers {
  width: 95%;
  margin: 10% auto 0;
  @media only screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-gap: 20px;
  }
  @media only screen and (min-width: 1024px) {
    width: 80%;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 300px);
  }
  @media only screen and (min-width: 1400px) {
    width: 70%;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 100px;
  }
}
.offer {
  width: 100%;
  margin-bottom: 10%;
  &__image {
    margin-left: -15%;
    margin-bottom: -10%;
  }
  &__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 122.4%;
    color: #fefce8;
    @media only screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }
  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    @media only screen and (max-width: 1024px) {
      font-size: 13px;
    }
  }
  &__cta {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }
}

.testimonials-container {
  display: block;
}
.testimony {
  position: relative;
  margin-top: 10%;
  width: 100%;
  border-radius: 20px;
  @media only screen and (min-width: 700px) {
    width: 30px;
  }
  &__testifier {
    display: none;
  }
  .testimony__name {
    font-weight: 400;
    font-size: 12;
    line-height: 16px;
  }
  &:hover {
    cursor: pointer;
    .play-container {
      display: block;
      position: absolute;
      top: 40%;
      left: 40%;
      @media only screen and (min-width: 1024px) {
        top: 25%;
        left: 30%;
      }
      @media only screen and (min-width: 1400px) {
        top: 40%;
        left: 40%;
      }
    }
    .testimony__testifier {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 5%;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
    }
    .testimony__image {
      width: 370px;
      margin-top: -15px;
      object-fit: contain;
      border-radius: 20px;
      filter: brightness(70%);
      @media only screen and (min-width: 700px) {
        width: 300px;
      }
      @media only screen and (min-width: 1024px) {
        width: 250px;
      }
      @media only screen and (min-width: 1400px) {
        width: 370px;
      }
    }
  }
  &__image {
    width: 340px;
    margin: 0;
    @media only screen and (min-width: 700px) {
      width: 280px;
    }
    @media only screen and (min-width: 1024px) {
      width: 220px;
    }
    @media only screen and (min-width: 1400px) {
      width: 340px;
    }
  }
}
.play-container {
  display: none;
}
.review-section {
  text-align: center;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 4% auto;
  @media only screen and (min-width: 700px) {
    flex-direction: row-reverse;
    align-items: center;
    width: 550px;
    justify-content: space-between;
  }
  .review-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    color: #3d0072;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-left: 0;
    width: 120px;
    margin: 10px 10px 0;
    @media only screen and (min-width: 700px) {
      border-left: 1px solid;
      border-bottom: 0;
      padding: 12px 0 0 20px;
      width: 150px;
      margin: 10px;
      height: 50px;
    }
  }
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (min-width: 700px) {
    width: 350px;
  }
}
.preview-container {
  width: 100%;
  text-align: center;
  background: #f3f4f6;
  border-radius: 20px;
  padding: 30px 30px 0;
  @media only screen and (min-width: 700px) {
    width: 80%;
    margin: 5% auto;
  }
  .preview-heading {
    font-size: 30px;
  }
  .preview-subheading {
    @media only screen and (min-width: 700px) {
      width: 55%;
      margin: 3% auto;
    }
  }
  .preview-image {
    width: 90%;
  }
}
.traction-section {
  background-image: url("../../../../assets/traction-bg.png");
  border: 1px solid;
}
.traction-container {
  width: 90%;
  margin: 10% auto 15%;
  text-align: center;
  background-position: center center;
  @media only screen and (min-width: 500px) {
    width: 100%;
  }
}
.traction-heading,
.traction-subheading {
  color: white;
}
.tractions {
  width: 80%;
  margin: 5% auto 0;
  height: 1200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 500px) {
    flex-direction: row;
    height: 500px;
  }
}

.traction {
  width: 250px;
  height: 380px;
  border-radius: 70px 70px 70px 0px;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.8px;
  @media only screen and (min-width: 500px) {
    width: 190px;
    height: 300px;
  }
  @media only screen and (min-width: 1024px) {
    width: 250px;
    height: 350px;
  }
  @media only screen and (min-width: 1400px) {
    width: 300px;
    height: 400px;
  }

  &__spiro {
    width: 250px;
    position: absolute;
    left: 0;
    top: 28%;
    @media only screen and (min-width: 500px) {
      width: 200px;
    }
    @media only screen and (min-width: 1024px) {
      width: 240px;
    }
    @media only screen and (min-width: 1400px) {
      width: 280px;
    }
  }
  &:nth-child(1) {
    background: #d2ffde;
    border-radius: 70px 70px 0px 70px;
    color: #2a332c;
    .traction__info {
      background-color: #2a332c;
    }
  }
  &:nth-child(2) {
    background: #c8c1fd;
    color: #282733;
    .traction__info {
      background-color: #282733;
    }
  }
  &:nth-child(3) {
    background: #faf7c3;
    .traction__name {
      color: #9f9704;
    }
    .traction__info {
      background: #9f9704;
    }
    .traction__risk {
      color: #333228;
    }
  }
  &__name {
    position: absolute;
    top: 45%;
    left: 18%;
    @media only screen and (min-width: 700px) {
      left: 10%;
    }
    @media only screen and (min-width: 1400px) {
      left: 18%;
    }
  }
  .traction__info {
    color: white;
    padding: 2px 5px 2px 2px;
  }
}

.traction__risk {
  position: absolute;
  top: 55%;
  left: 15%;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.8px;
  left: 18%;
  @media only screen and (min-width: 700px) {
    left: 10%;
  }
  @media only screen and (min-width: 1400px) {
    left: 18%;
  }
}
.traction:nth-child(odd) {
  .traction__risk {
    &:before {
      content: "₦100M";
      animation: changeText 5s infinite 0s;
    }
    @keyframes changeText {
      0% {
        content: "₦100M";
      }
      20% {
        content: "₦100M";
      }
      40% {
        content: "₦200M";
      }
      60% {
        content: "₦300M";
      }
      80% {
        content: "₦900M";
      }
      100% {
        content: "₦1.1B";
      }
    }
  }
}

.traction:nth-child(2) {
  .traction__risk {
    &:before {
      content: "0% Risk";
      animation: changeRisk 5s infinite 0s;
    }
    @keyframes changeRisk {
      0% {
        content: "0% Risk";
      }
      20% {
        content: "0% Risk";
      }
      40% {
        content: "90% Risk";
      }
      60% {
        content: "80% Risk";
      }
      80% {
        content: "20% Risk";
      }
      100% {
        content: "10% Risk";
      }
    }
  }
}
