.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  &__cta {
    border: transparent;
    padding: 10px;
    border-radius: 79.8182px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  @media only screen and (min-width: 700px) {
    padding: 10px 50px;
  }
  @media only screen and (min-width: 1200px) {
    padding: 10px 100px;
  }
}
.map-icon {
  display: none;
  @media only screen and (min-width: 700px) {
    margin-left: 10px;
    display: inline;
    &:hover {
      cursor: pointer;
    }
  }
}
.navlogo-container {
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 1200px) {
    width: 50%;
  }
  .logo {
    width: 100px;
    height: 60px;
  }
}
