.divider-container {
  display: flex;
  flex-direction: column;
  width: 10px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.divider-bar {
  width: 3px;
  height: 155px;
  background-color: #8807f7;
  @media only screen and (min-width: 1024px) {
    height: 140px;
  }
}
.circle {
  width: 12px;
}

.accordion {
  width: 100%;
  &__item {
    background: #f9fafb;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 20px;
  }
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #8807f7;
  }
  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #3d0072;
  }
}

