$primary-color: #240053;
@mixin heading {
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
  color: #3d0072;
  margin-bottom: 20px;
  @media only screen and (min-width: 1024px) {
    font-size: 50px;
  }
}
.App {
}
.carousel-track {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
}

.carousel {
  text-align: start;
  width: 90%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: auto;
  &::-webkit-scrollbar {
    background: transparent;
  }
  border: 1px solid yellow;
}
